<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="<%= path === '/shop' ? 'item active' : 'item' %>" href="/shop">
      Shop
    </a>
    <a class="item" href="/products">
      Products
    </a>
    <a class="<%= path === '/add-product' ? 'item active' : 'item' %>" href="/admin/add-product">
      Add product
    </a>
  </div>
</div>