<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" href="/shop">
      Shop
    </a>
    <a class="item" href="/products">
      Products
    </a>
    <a class="item" href="/admin/add-product">
      Add product
    </a>
  </div>
</div>