<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
	<link rel="stylesheet" href="/public/css/main.css" />
	<title><%= pageTitle %></title>
</head>
<body>

	<header>
		<%- include('includes/navigation') %>
	</header>

	<main class="ui container">

		<h1><%= pageTitle %></h1>

		<section>
			<div class="ui grid">
				<form class="ui form six wide column" action="/admin/product" method="post">
					<div class="field">
						<label for="title">Title</label>
						<input name="title" type="text">
					</div>
					<button 
						type="submit" 
						class="ui primary button"
					>Add product</button>
				</form>
			</div>
		</section>
		
	</main>

</body>
</html>