<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page 404</title>
</head>
<body>

	<main>
		
		<h1>Page 404</h1>
		<p>Page not found!</p>
		<button id="button">Go to shop</button>
		<script>
			document.getElementById('button').addEventListener('click', function(e) {

				document.location.href = "/shop";

			});
		</script>

	</main>
	
</body>
</html>