<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="/public/css/main.css">
	<title>
		<%= pageTitle %>
	</title>
</head>
<body>

	<header>
		<%- include('../includes/navigation') %>
	</header>

	<main class="ui container">

		<h1><%= pageTitle %></h1>

		<% if ( products.length > 0 ) { %>
			<section class="ui grid">

				<% products.map(product => { %>
					<div class="ui card">
						<a href="#" class="image">
							<img src="https://m.media-amazon.com/images/I/51OoeQrDhZL._AC_SX425_.jpg" alt="">
						</a>
						<div class="content">
							<a href="#" class="header">IPCW CWT-732B2 Honda Civic 4 puertas Bermudas negro lámpara trasera con ojos de cristal - 3 piezas</a>
							<div class="meta">
								<p>Las luces traseras Euro le dan a tu coche un aspecto muy personalizado</p>
							</div>
						</div>
					</div>
				<% }) %>
				
			</section>
		<% } else { %>
			<section>

				<h1>No hay productos</h1>

			</section>
		<% } %>
		
	</main>

</body>
</html>